<body>
  <div class="container">
    <div class="col-md-6">
      <h1>Add a new photo</h1>
      <form action="/create_photo">
        <div>
          <label for"url">
            Image URL
          </label>
          <input name="the_source" type="text" id="url">
        </div>
        <div>
          <label for="caption">
            Caption
          </label>
          <input name="the_caption" type="text" id="caption">
        </div>
        <button>Creat new photo </button>
        <button><a href = "http://localhost:3000/photos/">Back</a></button>
      </form>
    </div>
  </div>
</body>
